body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2 {
    font-family: 'Righteous', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6956F6;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.container {
    background-color: #fff;
}

.to-do-menu-items {
    list-style: none;
}

ul li {
    color: #333;
}

.site-inner {
    max-width: 800px;
    margin: 20px auto;
}

 #to-do-menu-items {
    list-style: none;
}

.toDoCheckboxes {
    position:fixed; left: 20px;
}

#filter_complete, #filter_incomplete {
    margin: 10px;
    margin-right: 0;
}

footer {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #0C7BE8;
    padding: 10px 10px;
    text-align: center;
    width: 25%;
}

#lastModified,
#currentdate {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
